.NavBar{
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 30px;
    box-shadow: 0 2px 10px rgba(33, 105, 214, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

/* Logo */
.NavBar img{
    width: 90px;
    cursor: pointer;
}

/* Menu */
.NavBar ul{
    display: flex;
    gap: 30px;
    list-style: none;
}

.NavBar ul li{
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
}

.NavBar ul li:hover{
    color: #1003ff;
    border-bottom: 2px solid #1003ff;
}
.NavBar a{
    text-decoration: none;
}

/* Search bar */
.search{
    width: 30%;
    height: 45px;
    background-color: #f5f5f5;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    gap: 10px;
}
.search input{
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    font-size: 15px;
}

/* Icons */
.NavBar svg{
    font-size: 24px;
    cursor: pointer;
    transition: 0.3s;
    margin: 20px 10px;
}

.NavBar svg:hover{
    color: #0d00fa;
}

/* Buttons */
.NavBar button{
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
     margin: 0px 10px;
}
.btn-signup{
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
     margin: 0px 10px;
     text-decoration: none; 
}

/* Sign in */
.NavBar button:first-of-type{
    background: transparent;
    border: 1px solid #ccc;
    color: black;
}

.NavBar button:first-of-type:hover{
    border-color: #0d00fa;
    color: #0d00fa;
}

/* Sign up */
.btn-signup:last-of-type{
    background-color: #0d00fa;
    border: none;
    color: white;
}

.btn-signup:last-of-type:hover{
    background-color: #4941ea;
}

/* _resposive tablette____ */
 
@media screen and (max-width: 1000px){

    .NavBar{
        width: 100%;
        height: auto;
        position: relative; /* ❌ enlève fixed sidebar */
        flex-direction: column;
        padding: 10px 0;
    }

    /* logo en haut */
    .NavBar img{
        width: 70px;
        margin-bottom: 10px;
    }

    /* menu horizontal */
    .NavBar ul{
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
    }

    .NavBar ul li{
        font-size: 14px;
        padding: 5px 10px;
    }

    /* search revient */
    .search{
        display: flex;
        width: 90%;
        margin-top: 10px;
    }

    /* icons */
    .NavBar svg{
        margin: 5px;
        font-size: 20px;
    }

    /* buttons en ligne */
    .NavBar-responsive-btn{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        width: 100%;
        margin-top: 20px;
    }

    .NavBar button,
    .btn-signup{
        padding: 8px 15px;
        font-size: 13px;
    }
}
  